@model SimpleQuizApp.Models.QuizResultViewModel

<h1 class="display-4 mb-4">Quiz Completed!</h1>
<p class="mb-0"><span class="fw-bold">Your Score:</span> @Model.Score / @Model.TotalQuestions</p>
<p class="mb-0"><span class="fw-bold">Percent:</span> @Model.Percentage %</p>
<p class="mb-2">
    <span class="fw-bold">Time Spent:</span>
    @{
        var minutes = Model.TotalSeconds / 60;
        var seconds = Model.TotalSeconds % 60;
    }
    @minutes min @seconds sec
</p>
<h3>@Model.Comment</h3>

<table class="table table-striped shadow mt-4">
    <thead class="table-dark">
        <tr>
            <th>No.</th>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@index</td>
                <td>@item.Question</td>
                <td>@item.UserAnswer</td>
                <td>@item.CorrectAnswer</td>
                <td>
                    @if (item.IsCorrect)
                    {
                        <span class="text-success fw-bold">Correct</span>
                    }
                    else
                    {
                        <span class="text-danger fw-bold">Incorrect</span>
                    }
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>

<a href="/" class="shadow rounded-pill btn btn-success mt-3 fw-bold w-25">Back to Home</a>
